<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrepareForAirbnb.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A91C8BEC2AD786A000282841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91C8BFB2AD7A11F00282841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9FC4C4B2AD5ED100045AABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
